* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style-type: none;
}

/* Main Styles 10/14/21 ***********/
/* End Main Styles ****************/

/**** HEADER ***************/
.hero-section {
  background-color: rgb(209, 63, 9);
}

.links a {
  color: #fff;
  padding: 0.5em;
  display: block;
  text-transform: uppercase;
  transition: 250ms ease-in;
}
.links a:hover {
  color: #000;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-left: 2em;
}
.logo {
  display: inline-block;
  font-size: 3.3rem;
  color: #fff;
}
.btnMenu {
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: capitalize;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  margin-right: 30px;
  color: #fff;
}

/********* LINKS FOR DROPDOWN AND JS *******/
.links {
  height: 0;
  overflow: hidden;
  transition: 500ms;
  margin-left: 1.2em;
}
.show-links {
  height: 12.5em;
}
/********* END LINKS FOR DROPDOWN AND JS **/

/**** END HEADER  ***********************/

/* MAIN BODY ************************ */
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
.main-content-hold {
  padding: 0 2em;
}

.grid-title {
  font-size: 2rem;
  text-align: center;
  margin: 0.5em 0;
}

.section2 {
  overflow: auto;
}

.split {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.split p {
  padding: 1rem;
  font-size: 1rem;
  /* border-radius: 10px; */
}
.main-para {
  /* border-top: 25px solid rgb(134, 115, 9); */
  border-radius: 10px;
  width: 100%;
  align-self: normal;
}
.bg-dark {
  background-color: #000;
  color: #fff;
  box-shadow: -4px 10px 19px -9px rgba(0, 0, 0, 0.75);
}
.bg-light {
  background-color: rgb(141, 133, 133);
  box-shadow: -4px 10px 19px -9px rgba(0, 0, 0, 0.75);
  color: #fff;
}
/* END MAIN BODY *************************/
/*
*/
/********** PARALLAX *******/
.img1,
.img2,
.img3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.img1 {
  background-image: url("images/pexels-egor.jpg");
  height: 60vh;
}
.img2 {
  background-image: url("images/pexels-kelly.jpg");
  height: 50vh;
}
.img3 {
  background-image: url("images/pexels-egor.jpg");
  height: 50vh;
}
.para-title {
  font-size: 4rem;
  text-align: center;
  text-transform: capitalize;
}

.para-text {
  display: grid;
  place-items: center;
  justify-content: center;
  padding-top: 5em;
}

.para-text h2 {
  font-size: 3rem;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
}
.hero-text-container {
  padding-top: 7em 0;
}
.inner-paragraph {
  padding: 2em;
}
.btnLearn {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: orangered;
  border-radius: 35px;
  border: 5px solid transparent;
  color: #fff;
  text-transform: uppercase;
  transition: 500ms;
  cursor: pointer;
}
.btnLearn:hover {
  border: 5px solid orangered;
  background-color: #000;
}
/************* END PARALLAX ************/
/*
*/

/* CONFINE STYLES *****************/

/* .main-container {
  width: 1200px;
  max-width: 100vw;
  margin: 0 auto;
  color: #fff;
  padding: 3rem;
} */
.section-confine {
  background-color: rgb(58, 15, 15);
  color: #fff;
}
.inner {
  padding: 2em;
}
.inner h1 {
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
}

/* END CONFINE STYLES *************/
.box {
  height: 250px;
  max-width: 300px;
}
.test-title {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(50, 50, 144, 1) 10%,
    rgba(0, 212, 255, 1) 100%
  );
  /* background-color: grey; */
  padding: 0;
  text-transform: capitalize;
  border-radius: 10px 10px 0 0;
  margin: 0;
}
.heading {
  text-transform: uppercase;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}
.smell {
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  margin: 0;
  padding: 0;
}
.week {
  margin: 0;
  padding: 0;
  border-radius: none;
}
.dot-holder-top {
  border-top: 1px solid rgb(107, 105, 105);
  width: 100%;
  height: 5px;
}
.thedotholder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
}
/* MEDIA QUERIES ******************************/

@media screen and (min-width: 800px) {
  .img1,
  .img2,
  .img3 {
    background-attachment: fixed;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .split {
    flex-direction: row;
  }
  .links {
    height: auto;
    display: flex;
    margin-right: 2em;
  }
  .links a:hover {
    background-color: transparent;
    color: #000;
  }
  .btnMenu {
    display: none;
  }
  .logo-container {
    margin-left: 2em;
  }
  .para-text h2 {
    font-size: 5rem;
  }
  .grid-title {
    font-size: 3rem;
  }
  .inner {
    padding: 5em;
  }
  .inner-paragraph {
    padding: 2em 4em;
  }
}
